---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import { SITE } from "@config";
---

<Layout title={`Contact | ${SITE.title}`}>
  <Header activeNav="kontakt" />
  <main id="main-content">
    <section id="contact">
      <h1 class="">Kontakt</h1>
      <p>
        Kontaktiere den Verein: <LinkButton href="mailto:contact@alp-sec.org"
          >contact@alp-sec.org</LinkButton
        ><br />
        <br />

        Maximilian Birnbacher (Obmann): <LinkButton
          href="mailto:mb@alp-sec.org"
        >
          mb@alp-sec.org</LinkButton
        ><br />
        Felix Slama (Obmann-Stellvertreter): <LinkButton
          href="mailto:fs@alp-sec.org">fs@alp-sec.org</LinkButton
        ><br />
        Jannik Schager (Kasier): <LinkButton href="mailto:js@alp-sec.org"
          >js@alp-sec.org</LinkButton
        ><br />
        Johannes Puinbroek (Webmaster): <LinkButton href="mailto:jp@alp-sec.org"
          >jp@alp-sec.org</LinkButton
        >
      </p>
      <h2 class="mt-5 text-2xl">Adresse</h2>
      <LinkButton
        href="https://www.openstreetmap.org/#map=18/46.617721/14.317181"
      >
        Lastenstra&szlig;e 26, <br /> 9020 Klagenfurt am Wörthersee
      </LinkButton>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  h2 {
    @apply font-semibold;
  }
</style>
