---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
---

<Layout>
  <Header activeNav="kontakt" />
  <main id="main-content">
    <section id="contact">
      <h1 class="text-bold text-2xl">Kontakt</h1>
      <p>
        Kontaktiere den verein: <a href="mailto:contact@alp-sec.org"
          >contact@alp-sec.org</a
        ><br />
        <br />

        Maximilian Birnbacher (Obmann): <a href="mailto:mb@alp-sec.org">
          mb@alp-sec.org</a
        ><br />
        Felix Slama (Obmann-Stellvertreter): <a href="mailto:fs@alp-sec.org"
          >fs@alp-sec.org</a
        ><br />
        Jannik Schager (Kasier): <a href="mailto:js@alp-sec.org"
          >js@alp-sec.org</a
        ><br />
        Johannes Puinbroek (Webmaster): <a href="mailto:jp@alp-sec.org"
          >jp@alp-sec.org</a
        >
      </p>
      <h1 class="text-bold mt-5 text-2xl">Adresse</h1>
      <LinkButton
        href="https://www.openstreetmap.org/#map=18/46.617721/14.317181"
      >
        Lastenstra&szlig;e 26, <br /> 9020 Klagenfurt am Wörthersee
      </LinkButton>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  main {
    @apply mb-10 mt-10;
  }
</style>
