---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import Member from "@components/member.astro";
import { SITE } from "@config";
---

<Layout title={`Member | ${SITE.title}`}>
  <Header activeNav="mitglieder" />
  <main id="main-content">
    <section id="member">
      <h1 class="text-center">Mitglieder</h1>
      <div class="member-wrapper">
        <div class="member">
          <Member
            alias="Maxwell"
            name="Maximilian Birnbacher"
            bio="President"
            linkedin="https://www.linkedin.com/in/maximilian-birnbacher/"
            github="https://github.com/maxbirnbacher"
            mail="mailto:mb@alp-sec.org"
          />
        </div>
        <div class="member">
          <Member
            alias="f1re"
            name="Felix Slama"
            bio="Vice President"
            linkedin="https://www.linkedin.com/in/felixslama/"
            github="https://github.com/felixslama"
            mail="mailto:fs@alp-sec.org"
          />
        </div>
        <div class="member">
          <Member
            alias="aryt3"
            name="Jannik Schager"
            bio="Treasurer"
            web="https://aryt3.dev"
            linkedin="https://www.linkedin.com/in/jannik-s-529743289/"
            github="https://github.com/aryt3"
            mail="mailto:js@alp-sec.org"
          />
        </div>
        <div class="member">
          <Member
            name="Johannes Puinbroek"
            alias="54toshi"
            bio="Webmaster"
            web="https://54toshi.com"
            linkedin="https://www.linkedin.com/in/johannes-"
            github="https://github.com/54toshi"
            mail="mailto:jp@alp-sec.org"
          />
        </div>
        <div class="member">
          <Member
            name="Jonas Heschl"
            alias="Jones"
            bio="Head of Web Security"
            web="https://heschl.dev"
            linkedin="https://www.linkedin.com/in/jonas-heschl/"
            github="https://github.com/jonasheschl"
          />
        </div>
        <div class="member">
          <Member
            alias="0xk1f0"
            name="Fabian Teppan"
            bio="Rewrite it in Rust"
            web="https://k1f0.dev/"
            mail="mailto:0xk1f0@pm.me"
            github="https://github.com/0xk1f0"
            linkedin="https://www.linkedin.com/in/fabian-k1"
            twitter="https://x.com/atk1f0"
          />
        </div>
        <div class="member">
          <Member
            alias="thefaketrap"
            name="Jürgen Rossmann"
            bio="Managed Vulnerability Management (MVM)"
            linkedin="https://www.linkedin.com/in/j%C3%BCrgen-rossmann-5b4381211/"
          />
        </div>
        <div class="member">
          <Member
            alias="zanmu"
            name="Bence Balázs"
            bio="Tech Enjoyer"
            github="https://github.com/benceBalazs"
            linkedin="https://www.linkedin.com/in/bencebalazs99"
            web="https://www.bence.at/"
            mail="mailto:altmiscben@outlook.de"
          />
        </div>
        <div class="member">
          <Member
            alias="gamersi"
            name="Simon Rechberger"
            bio="GO-ing insane"
            github="https://github.com/gamersi"
            linkedin="https://www.linkedin.com/in/gamersi"
            web="https://www.gamersi.dev"
            mail="mailto:hello@gamersi.dev"
            twitter="https://x.com/gamer_si_yt"
          />
        </div>
        <div class="member">
          <Member
            alias="Caffine_addict"
            name="Max Sitter"
            bio="Rust-ing away"
            github="https://github.com/137-Trimethylxanthin"
            linkedin="https://www.linkedin.com/in/max-sitter-5408a3304"
            web="https://maxi.co.at/"
            mail="mailto:sitter.max06@gmail.com"
          />
        </div>
        <div class="member">
          <Member
            alias="CaffeinatedRaccoon"
            name="Robin Spreitzer"
            bio="Head of PR"
            linkedin="https://www.linkedin.com/in/robin-spreitzer-7663b7277"
            github="https://github.com/DaRobsi"
          />
        </div>
        <div class="member">
          <Member
            alias="Tommy"
            name="Tommy Lee Duong"
            bio="Infra & Network Guy"
          />
        </div>
        <div class="member">
          <Member
            alias="Levian"
            name="Levian Kolly"
            bio="Network & Hacking Enthusiast"
          />
        </div>
        <div class="member">
          <Member
            alias="MCraft"
            name="Michael Hammer"
            bio="I don't C#"
            web="https://friendnet.space/"
            linkedin="https://www.linkedin.com/in/michaelmhammer"
            github="https://github.com/TheMCraft"
            twitter="https://x.com/TheMCraft"
            mail="mailto:alpsec+business@themcraft.com"
          />
        </div>
        <div class="member">
          <Member
            alias="Voltox"
            name="Anon-00"
            bio="Hier könnte deine Werbung stehen"
            web="https://www.voltox.org"
          />
        </div>
        <div class="member">
          <Member
            alias="The_Cat_Art"
            name="Luka Kaiser"
            bio="I don't give eeffoc until I have my coffee"
            web="https://www.thecatart.com"
            linkedin="https://www.linkedin.com/in/luka-kaiser"
            github="https://github.com/TheCatArt"
            twitter="https://x.com/TheCatArt1"
            mail="mailto:business@thecatart.com"
          />
        </div>
        <div class="member">
          <Member
            alias="shadow_hunt3r"
            name="Chiara Handler"
            bio="hackoholic"
            linkedin="https://www.linkedin.com/in/chiara-handler-20829b1a0/"
            github="https://github.com/5hadow-hunt3r"
          />
        </div>
        <div class="member">
          <Member
            alias="fabian.granig"
            name="Fabian Granig"
            bio="Still in tutorial mode."
            web="https://fabiangranig.at/"
            mail="fabiangranig.fg@gmail.com"
          />
        </div>
        <div class="member">
          <Member
            alias="qviperh"
            name="Romeo Oltean"
            bio="Turning coffee into code"
            linkedin="https://www.linkedin.com/in/romeo-oltean"
            github="https://github.com/viperh"
            web="https://www.backendev.dev/"
            mail="qviperh.dev@proton.me"
          />
        </div>
      </div>
      <Footer />
    </section>

    <style>
      .member-wrapper {
        @apply mt-10 flex flex-wrap justify-center;
      }
      .member {
        @apply mb-56 h-32 w-48 object-contain pb-18 text-center;
      }
    </style>
  </main></Layout
>
